!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Iscriviti
    = stylesheet_link_tag "iscriviti.css"
  %body
    #intestazione
      .container
        .row
          .col-sm
          .col-sm
            = image_tag("sportify.png",height: '70', width: '220',id: "sporty")
          .col-sm
    #left
      %p
        %b Sei un utente registrato?
      %button#butt.btn.btn-primary{:type => "button"}
        %b Accedi usando Facebook
      = image_tag("futsal",height: '210', width: '300',id: "image")
    #right
      %p
        %b Iscriviti a Sportify
      #sub Partecipa agli eventi sportivi nella tua zona
      #formok
        %form
          .form-group
            %input#InputNick.form-control{:placeholder => "Enter Nickname", :type => "text"}/
          .form-group
          .form-group.form-check
            %label
              %b Selezione dei ruoli:
            %br/
            %input#P.form-check-input{:type => "checkbox"}/
            %label.form-check-label{:for => "P"} P
            %br/
            %input#D.form-check-input{:type => "checkbox"}/
            %label.form-check-label{:for => "D"} D
            %br/
            %input#C1.form-check-input{:type => "checkbox"}/
            %label.form-check-label{:for => "C1"} C1
            %br/
            %input#C2.form-check-input{:type => "checkbox"}/
            %label.form-check-label{:for => "C2"} C2
            %br/
            %input#A.form-check-input{:type => "checkbox"}/
            %label.form-check-label{:for => "A"} A
            %br/
          %button#savebutt.btn.btn-dark{:type => "submit"} Salva Informazioni
      #accedibutt
        %button#button1.btn.btn-primary
          %b Accedi con Facebook per iscriverti
