!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title mostraeventi
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", :integrity => "sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", :rel => "stylesheet"}/
    = stylesheet_link_tag "mostraeventi.css"
    = stylesheet_link_tag "index_team.css"
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.13/css/all.css", :integrity => "sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Merriweather+Sans", :rel => "stylesheet"}/
  %body{:style => "font-family: 'Merriweather Sans', sans-serif; margin-left: 0.9%; margin-right: 0.9%;"}
    .row
      %nav.navbar.navbar-light.barra
        .col-3
          .container
            %form.form-inline
              %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :style => "width: 48%;", :type => "search"}/
              %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
        .col-3
          %a{:href => "#"}
            %b Profile
        .col-3
          %a{:href => "#"}
            %b Play
        .col-3
          %a{:href => "#"}
            %b Home
    .col-2.border-right{:style => "margin-left: 1.4%"}
      .container.user_column
        = image_tag("#{current_user.img}",height: '130', width: '130', align: "center", id: "image", class: "user_column_obj")
      .container.user_column
        %p.user_column_obj
          %b#nick Nickname:
      .container.user_column
        %p.user_column_obj
          %b#val Valutazione:
      .container.user_column
        %a.user_column_obj{:href => "#"}
          %b Teams
      .container.user_column
        %a.user_column_obj{:href => "#"}
          %b Logout
    #container
      %br/
      %b Incoming
      %br/
      #result
        %button#setscore Set score
        %input#set{:min => "0", :step => "1", :type => "number"}/
        %input#set{:min => "0", :step => "1", :type => "number"}/
      #left
        %input#P{:name => "giocatore1", :readonly => "readonly", :type => "text"}/
        %br/
        %br/
        %input#D{:name => "giocatore2", :readonly => "readonly", :type => "text"}/
        %br/
        %br/
        %input#C1{:name => "giocatore3", :readonly => "readonly", :type => "text"}/
        %br/
        %br/
        %input#C2{:name => "giocatore4", :readonly => "readonly", :type => "text"}/
        %br/
        %br/
        %input#A{:name => "giocatore5", :readonly => "readonly", :type => "text"}/
      #right
        %input#P{:name => "giocatore1", :readonly => "readonly", :type => "text"}/
        %br/
        %br/
        %input#D{:name => "giocatore2", :readonly => "readonly", :type => "text"}/
        %br/
        %br/
        %input#C1{:name => "giocatore3", :readonly => "readonly", :type => "text"}/
        %br/
        %br/
        %input#C2{:name => "giocatore4", :readonly => "readonly", :type => "text"}/
        %br/
        %br/
        %input#A{:name => "giocatore5", :readonly => "readonly", :type => "text"}/
      #bottom
        Data, Ora, Luogo:
        %br/
        %input#data{:name => "data", :readonly => "readonly", :type => "text"}/
        %input#ora{:name => "ora", :readonly => "readonly", :type => "text"}/
        %input#luogo{:name => "luogo", :readonly => "readonly", :type => "text"}/
        %button#impostazioni Imp
      #action
        %button#google Google
        %br/
        %br/
        %button#logout Logout
