#maps{
  position: absolute;
  top:150px;
    right: 150px;
}

#partita{
  height: 25px;
    width: 180px;
    border-radius: 5px;
}

#data{
  height: 28px;
    width: 150px;
    border-radius: 5px; 
}

#ora{
  height: 28px;
    width: 60px;
    border-radius: 15px;    
}

#dove{
  height: 28px;
    width: 150px;
    border-radius: 5px;
}

#partite{
  position: absolute;
  top:70px;
    left: 70px;
}

#return{
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}