#formteam{
	position: absolute;
  	top:170px;
  	left: 550px;
}

#nameteam{
	position: absolute;
  	top:550px;
  	left: 300px;
}

#center{
	position: absolute;
	top: 100px;
	left: 600px;
	height:500px;
  	width: 500px;
}

#savebutt{
	position: absolute;
	top: 550px;
	right: 300px;
}