#menu ul {
    width:100%; /* Dimensioni della barra del menu */
    padding:0;
    margin:0 auto;
    display:inline;

}

#menu li {
    display:inline;
}

#menu a {
    color:#fff; /* Colore del testo */
    text-align:right; /* Testo allineato al centro */
    text-decoration:none; /* Nessuna decorazione */
    background:black; /* Colore dello sfondo */
    padding:4px 50px; /* Distanza tra le singole voci */
    border-right:110px solid black;
}

#image{
    position: absolute;
    top: 250px;
    left: 500px;
}

#form{
    position: absolute;
    top: 380px;
    left:400px;
}

#inputtext{
  width: 300px;
  border-radius: 10px;
}

#container{
  min-height: 700px;
  max-width: 1450px;
  background-image: image_url('campo.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}