.user_column {
	margin-top: 20%;
}
.user_column_obj {
	margin-left: 20%
}
.barra{
	width: 100%;
	background-color: black;
}
.text-team{
	font-size: 200%;
	padding-top: 2%;
}
.index-teams{
	margin-top: 5%;
	margin-left: 15%;
}