#intestazione {
  background-image: image_url('black.png');
  min-height: 70px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


#left p{
  position: absolute;
  top:150px;
  left: 150px;

}

#butt{
  position: absolute;
  top:250px;
  left: 130px;
}

#image{
  position: absolute;
  top:330px;
  left: 90px;
}

#right p{
  position: absolute;
  top:90px;
  right: 190px;
}


#sub{
  position: absolute;
  top:110px;
  right: 100px;
}



#formok{
  position: absolute;
  top:150px;
  right: 140px;

}

#InputNick{
  height: 20px;
  width: 250px;
  border-radius: 10px;
  border-color: black;
}


#savebutt{
  position: absolute;
  top:200px;
  right: 30px;
}

#accedibutt{
  position: absolute;
  top:450px;
  right:100px;
 
}


