#image{
	border-radius: 180px;
}

#container{
	position: absolute;
	top: 160px;
	left: 650px;
	width: 550px;
	height: 500px;
	border:2px black solid;
	border-radius: 5px;
}

#set{
	width: 40px;
	height: 60px;
	font-size: 20px;
}

#result{
	position: absolute;
	left: 150px;
}

#left{
	position: absolute;
	left: 30px;
	top: 140px;

}

#right{
	position: absolute;
	right: 30px;
	top: 140px;
}

#P{
  	border-radius: 5px;
  	width: 150px;
}

#D{
  	border-radius: 5px;
  	width: 150px;
}

#C1{
  	border-radius: 5px;
  	width: 150px;
}

#C2{
  	border-radius: 5px;
  	width: 150px;
}

#A{
  	border-radius: 5px;
  	width: 150px;	
}

#ora{
	border-radius: 5px;
  	width: 150px;
}

#data{
	border-radius: 5px;
  	width: 150px;
}

#luogo{
  	border-radius: 5px;
  	width: 150px;	
}

#container button{
	border-radius: 10px;
}

#bottom{
	position: absolute;
	top:400px;
	left:30px;
}

#action{
	position: absolute;
	right: 10px;
}
